---
layout: null
title: William Entriken, portfolio
---
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.title | escape }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" integrity="sha256-u2/YzYU5TLNn6KxY5HKS8taOsoj6Evq2jmVDCl3fzkg=" crossorigin="anonymous">
  <link href="{% link /assets/site.css %}" rel="stylesheet">
  <link href="{{ page.url | prepend: site.baseurl | prepend: site.url | escape }}" rel="canonical">
  <link type="application/rss+xml" rel="alternate" title="Community Service Hour Podcast" href="https://podcast.phor.net/feed.xml"/>
  <style>
    :root {
      --bs-primary-rgb: 82, 47, 184;
      --bs-link-color-rgb: 82, 47, 184;
    }
  </style>
</head>
<body>
<!--
MORE STUFF WHERE TO PUT THIS

- Auditing Yul and EVM
  - GasToken 2 improvement https://github.com/projectchicago/gastoken/issues/6
  - Wrote EIP-165
  - Reviewed EIP-1167 minimal proxy https://github.com/optionality/clone-factory/issues/10
- Code review
  - https://github.com/0xcert/ethereum-erc721/issues?utf8=✓&q=+author%3Afulldecent+
  - AION steal any token https://github.com/jennijuju/ATS_CI/pull/2/files
- Waiting for NDA to expire before I can talk about these
  - https://www.ey.com/en_ph/news/2021/05/birra-peroni-is-the-first-industrial-organization-to-mint-unique-non-fungible-tokens-using-ey-opschain-traceability
  - https://www.ey.com/en_us/news/2020/12/ey-and-microsoft-expand-xbox-enterprise-blockchain-platform-for-rights-and-royalties-management
  - https://www.ey.com/en_gl/news/2019/04/ey-ops-chain-industrializes-the-blockchain-at-scale-for-enterprises
- Favorite sites
  - Good times
    - https://webamp.org
  - They are spying on you
    - Dual_EC_DRBG - Wikipedia
- Publications 
  - https://medium.com/0xcert/token-curated-registries-8035d7fac2b7
- Professional associations
  - ISPE COP : Communities : GAMP Blockchain Special Interest Group (SIG)
- Citations
  - Magazin für Computertechnik | c’t Magazin | c’t 05/2018, S. 48 
    - https://www.heise.de/ct/ausgabe/2018-5-Freeware-die-den-PC-auf-Mittelwelle-senden-laesst-System-Bus-Radio-3966599.html
    - https://www.heise.de/ct/entdecken/?jahr=2018;ausgabe=5;sort=seite_auf
    - @ctmagazin
  - 2019 Red, Cointime: Lead Author of ERC-721: Enterprise Use Will Be The Future Of Blockchain</li>
  - Times Chronicle Glenside News June 19 1996 Sixth Grade Student Saves the Day for Highland Teacher
  - https://www.casact.org/admissions/passlist/win08/Exam_1P.pdf
  - https://www.casact.org/admissions/passlist/oct10/Exam_2fm_F2010.pdf
  - A008793 - OEIS, A000984 - OEIS, MATH RESEARCH / A119733 - OEIS WRITE A BLOG POST ON THIS https://oeis.org/A119733
  - https://thetokenizer.io/2019/05/20/the-story-of-non-fungible-tokens/
- Published: product photos
  - https://www.amazon.com/gp/product/B01M0OYQQ9/ref=s9_acsd_hps_bw_c_x_2_w
  - https://www.amazon.com/Hybrid-Covers-Conditioner-Waterproof-Protection/dp/B01LZ2GH23/ref=lp_12022463011_1_1?srs=12022463011&ie=UTF8&qid=1500351789&sr=8-1
  - https://www.amazon.com/gp/product/B01LZPV3K6/ref=s9_acsd_hps_bw_c_x_3_w
- M&A transactions
  - Worked on Kimball integration
  - project-resume.md
- Organized events
  - https://chain76org.github.io/chain76.org/
- My second most notable pull request
  - https://issuetracker.google.com/issues/122995598
  - https://github.com/google/libphonenumber/actions
- https://web.archive.org/web/20010522235410/http://fulld.cjb.net/
-->


  <header style="background: linear-gradient(to right, #fdc830, #f37335);">
    <!-- Hot links -->
    <div class="container-md py-5">
      <div id="hour" class="mb-5 d-none">
        <h1>Community Service Hour:</h1>
        <p>
          <strong>Every Tuesday at 6pm New York time.
            <a class="btn btn-secondary btn-sm" href="https://calendar.google.com/calendar/ical/liurhb5cqvar2i6n6ekeanap44%40group.calendar.google.com/public/basic.ics"><i class="bi bi-calendar"></i> Add to calendar (ICS)</a>
            <a class="btn btn-secondary btn-sm" href="https://calendar.google.com/event?action=TEMPLATE&tmeid=NHA4ZXBrZWJkczlsamdmMzJpYmc2MnVqNWxfMjAyMjA2MjFUMjIwMDAwWiBsaXVyaGI1Y3F2YXIyaTZuNmVrZWFuYXA0NEBn&tmsrc=liurhb5cqvar2i6n6ekeanap44%40group.calendar.google.com&scp=ALL"><i class="bi bi-calendar"></i> Add to Google Calendar</a>
          </strong>
        </p>
        <div class="row">
          <div class="col">
            <p>Watch live</p>
            <div class="list-group">
              <a target="_blank" href="https://docs.google.com/document/d/1ta_6tSCGfC31iIfhz4bfC_oBKyNZGEdDsZkD-BRXY_Y/edit" class="list-group-item list-group-item-action"><i class="bi bi-file-word"></i> Show notes (add questions here)</a>
              <a target="_blank" href="https://x.com/fulldecent/status/1570627160263757825" class="list-group-item list-group-item-action"><i class="bi bi-twitter-x"></i> @fulldecent (Spaces)</a>
              <a target="_blank" href="https://twitch.com/fulldecent" class="list-group-item list-group-item-action"><i class="bi bi-twitch"></i> @fulldecent (access screen share)</a>
            </div>    
          </div>
          <div class="col">
            <p>Past highlights</p>
            <div class="list-group">
              <a target="_blank" href="https://www.youtube.com/playlist?list=PLaMigeN8Exx-ChNPpO-j6pFQ3F8oJWrBN" class="list-group-item list-group-item-action"><i class="bi bi-youtube"></i> YouTube</a>
              <a target="_blank" href="https://podcasts.apple.com/us/podcast/community-service-hour/id1662422217" class="list-group-item list-group-item-action"><i class="bi bi-apple"></i> Apple Podcasts</a>
              <a target="_blank" href="https://open.spotify.com/show/3k4PnmjfLiuNo9HpXemCdJ" class="list-group-item list-group-item-action"><i class="bi bi-spotify"></i> Spotify</a>
            </div>    
          </div>
          <div class="col-auto">
            <a href="https://hour.gg">
              <img src="http://hour.gg/podcast.jpg" class="img-fluid" alt="Community Service Hour" style="max-height:16rem">
            </a>
          </div>
        </div>

        <hr class="my-5 py-1">
      </div>

      <div id="nft-class" class="mb-5 d-none">
        <h1>Quick links (make your own NFT contract):</h1>
        <p class="lead">Thank you for joining my workshop!</p>
        <div class="list-group">
          <a target="_blank" href="https://phor.net/homework.pdf" class="list-group-item list-group-item-action">Homework (en) <span class="badge bg-primary">PDF</span></a>
          <a target="_blank" href="https://phor.net/homework-es.pdf" class="list-group-item list-group-item-action">Homework (es) <span class="badge bg-primary">PDF</span></a>
          <!--<a target="_blank" href="https://phor.net/homework-zh.pdf" class="list-group-item list-group-item-action">Homework (中文)<span class="badge bg-primary">PDF</span></a>-->
          <a target="_blank" href="https://discord.gg/dmcofficial" class="list-group-item list-group-item-action">DMC Discord (see #developer)</a>
          <a target="_blank" href="https://github.com/su-squares/student-list/blob/master/README.md" class="list-group-item list-group-item-action">Student list</a>
          <a target="_blank" href="https://taho.xyz" class="list-group-item list-group-item-action">Taho browser extension</a>
          <a target="_blank" href="https://sepolia.dev/#" class="list-group-item list-group-item-action">Sepolia faucet</a>
          <a target="_blank" href="https://x.com/fulldecent" class="list-group-item list-group-item-action">@fulldecent</a>
        </div>
      </div>
      
      <div class="row align-items-center justify-content-center">
        <div class="col-6 col-offset-3 col-sm-2 col-sm-offset-0">
          <img class="img-fluid rounded-circle" src="images/will.jpeg" alt="William Entriken">
        </div>
        <div class="col-sm-10">
          <h1>William Entriken<!--, M.Fin., M.B.A. --> <i id="pronounce" title="wɪl ˈɛn.tɹɪ.kən" class="bi bi-play-btn" style="cursor: pointer;"></i></h1>
          <p class="lead"><i class="bi bi-globe" aria-hidden="true"></i> Philadelphia USA / 中国上海</p>
          <p class="lead">
            <a href="advisory">Blockchain advisors</a>,
            <a href="https://hour.gg">developer communities</a>,
            <a href="https://privacylog.blogspot.com/">zero-day research</a>
          </p>

          <nav class="hstack mb-3 gap-2 mt-3">
            <a class="btn btn-primary d-block d-md-none" href="./vcard.vcf" download="William Entriken.vcf"><i class="bi bi-person"></i> Add to Contacts</a>

            <!--
            <a class="btn btn-primary" href="http://phor.us9.list-manage.com/subscribe?u=8b49e10ddf197497c02ff4eae&id=e3fcfddf94&amp;MERGE1=phor.net%20homepage" title="Monthly email about NFT, my workshops and research"><i class="bi bi-bell-fill"></i> Get Email Updates</a>
            -->
            <a class="btn btn-primary" href="https://x.com/fulldecent"><i class="bi bi-twitter-x"></i> Follow</a>
            <form action="https://phor.us9.list-manage.com/subscribe/post?u=8b49e10ddf197497c02ff4eae&amp;id=e3fcfddf94&amp;MERGE1=blog.phor.net" method="post">
              <div class="input-group">
                <input type="email" name="EMAIL" class="form-control" placeholder="Email address" required>
                <button title="Monthly emails about NFT, my workshops and research" type="submit" class="btn btn-primary"><i class="bi bi-bell-fill"></i> <span class="d-none d-lg-inline">Learn something </span> each month</button>
              </div>
            </form>
          </nav>
    
        </div>
      </div>

    </div>

    <svg style="width:100%; transform: rotate(180deg); height:2em; fill: #F8F9FA;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
    </svg>
  </header>

  <section class="bg-light">
    <div class="container-md py-5">
      <h2><span style="
        background: linear-gradient(to right, #d49139 0%, #ad1919 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;">Selling NFTs (2021 &amp; earlier)</span></h2>
      <div class="row">
        <div class="col-lg-3">
          <p><strong>Pixels:</strong></p>
          <div>
            <a href="https://tenthousandsu.com" target="_blank" title="Su Squares, the first ERC-721 NFT">
              <img src="https://tenthousandsu.com/assets/logo-su-squares.svg" alt="Su Squares" style="height: 100px; width: 100px; object-fit: contain;">
            </a>
            <p>3,000+ minted</p>
          </div>          
        </div>
        <div class="col">
          <p><strong>Art (all 1 of 1):</strong></p>
          <div class="hstack gap-3 flex-wrap">
            <div class="text-center">
              <a title="NFT HYPEMAN × WILLIAM ENTRIKEN" target="_blank" href="https://rarible.com/token/0xF6793dA657495ffeFF9Ee6350824910Abc21356C:109311712358823457578622280509458864447004054068294590227262744976292923310081?tab=bids">
                <img class="rounded-3" src="assets/nfts/NHM.jpg" alt="NFT HYPEMAN × WILLIAM ENTRIKEN" style="height: 100px; width: 100px; object-fit: contain;">
              </a>
              <p>0.4 ETH</p>
            </div>
            <div class="text-center">
              <a title="Genesis: Commemorating the First ERC-721 NFT" target="_blank" href="https://rarible.com/token/0x60f80121c31a0d46b5279700f9df786054aa5ee5:580921?tab=overview">
                <img class="rounded-3" src="assets/nfts/Genesis.png" alt="Genesis: Commemorating the First ERC-721 NFT" style="height: 100px; width: 100px; object-fit: contain;">
              </a>
              <p><del>Sold 15 ETH</del</p>
            </div>
            <div class="text-center">
              <a title="The Birth of an Idea w/ @conwellsclub" target="_blank" href="https://www.mintbase.io/thing/NUK-NZC8sGkLLMiY9_G54aXUwFI8Ss-KeK1G6Zyk_H0:nftcollab.mintbase1.near">
                <img class="rounded-3" src="assets/nfts/The Birth of an Idea.jpg" alt="The Birth of an Idea w/ @conwellsclub" style="height: 100px; width: 100px; object-fit: contain;">
              </a>
              <p>1,000 NEAR</p>
            </div>
            <div class="text-center">
              <a title="All Kindsa Media w/ Julio Slim, Indigo Cowherd, Will Gaines" target="_blank" href="https://foundation.app/@fulldecent/foundation/110909?ref=0xd859d7d8603D2dAb768D679eEEC25930C8FC59C1">
                <img class="rounded-3" src="assets/nfts/All Kindsa Media.gif" alt="All Kindsa Media w/ Julio Slim, Indigo Cowherd, Will Gaines" style="height: 100px; width: 100px; object-fit: contain;">
              </a>
              <p>1 ETH</p>
            </div>
            <div class="text-center">
              <a title="On the road to El Chalten w/ Elia Locardi" target="_blank" href="https://zora.co/collections/0xabEFBc9fD2F806065b4f3C237d4b59D9A97Bcac7/6377">
                <img class="rounded-3" src="assets/nfts/On the road to El Chalten.jpg" alt="On the road to El Chalten w/ Elia Locardi" style="height: 100px; width: 100px; object-fit: contain;">
              </a>
              <p><del>Sold 0.1 ETH</del></p>
            </div>
            <div class="text-center">
              <a title="Golden Landscape w/ Heidi von Son de Fernex" target="_blank" href="https://mintable.app/art/item/Golden-Landscape-A-nighttime-windy-scene-of-foraging/GiBKhbmRsH_9Rp7">
                <img class="rounded-3" src="assets/nfts/Golden Landscape.jpg" alt="Golden Landscape w/ Heidi von Son de Fernex" style="height: 100px; width: 100px; object-fit: contain;">
              </a>
              <p>0.1 ETH</p>
            </div>
            <div class="text-center">
              <a title="Ella's Dreams w/ VjDeliria" target="_blank" href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/97858314391699003502907348387324178864992602497446540910380188335690836082689/">
                <img class="rounded-3" src="assets/nfts/Ella's Dreams.gif" alt="Ella's Dreams w/ VjDeliria" style="height: 100px; width: 100px; object-fit: contain;">
              </a>
              <p>1 ETH</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="container-md py-4">
    <h2>Advisory services</h2>
    <p>I am the lead author of <a target="_blank" href="https://eips.ethereum.org/EIPS/eip-721">ERC-721</a>, the document that started NFTs as we know them, and its vision.</p>
    <p class="alert alert-info">
      Get answers to your pressing tech and business questions on <a href="https://hour.gg">a public ask-me-anything call</a> or enroll in <a href="advisory">advisory services</a>.
    </p>

    <div class="row row-cols-1 row-cols-md-3">
      <div class="col mb-3">
        <p><strong>Community events/hackathons</strong></p>
        <p>I build communities for technology events and products. This includes hackathons like the <a href="https://www.instagram.com/p/Ck7eOAoodpC/">TRON DAO Hackatron</a> and very exciting and interactive workshows to explain what is NFT/blockchain (<a href="https://x.com/fulldecent/status/1658690030704160769">here is part of one such presentation</a>).</p>
        <p>Usually these events are public, see <a href="#speaking">some past appearances</a>.</p>
        <p>Here is a paid promotional video I did for <a href="https://www.youtube.com/watch?v=8mMCT7rQBe0">TRON vs. Ethereum</a>.</p>

        <p><strong>White paper review and business planning</strong></p>
        <p>Including technical and business review. Weekly cadence with CEO and CTO working on execution. See <a href="advisory">achieved outcomes</a> on my advisory page.</p>
      </div>
      <div class="col mb-3">
        <p><strong>Clients</strong></p>
        <p>See how clients like 
          Nebula Revelation, <!-- Publicly listed me at https://whitepaper.nebularevelation.com -->
          <!-- A game company -->
          Arianee, <!-- Publicly listed on their homepage -->
          EY, <!-- Publicly listed at https://github.com/orgs/EYBlockchain/people -->
          Light.art, <!-- Publicly listed at https://area.world -->
          Origins NFT, <!-- Publicly listed at https://x.com/OriginsNFT/status/1508958165890523138 -->
          <!-- GenoBank.io, NOT ACTIVE // Publicly listed at https://github.com/orgs/Genobank/people -->
          <!-- 0xcert NOT ACTIVE // Publicly listed at from their homepage, get Wayback link -->
          <!-- Entree One, NOT ACTIVE // Publicly listed at from their homepage -->
          <!-- CattleProof, NOT ACTIVE // -->
          Lucid Sight (MLB Champions), <!-- Permission to post at https://mail.google.com/mail/u/0/#search/lucid+sight/KtbxLwgVWZfxpbQJKCmHrpnTGCKcBjgFCg-->
          Airbus A³, <!-- NDA expired 2022-03-->
          Dream Syndicate (Rawlings NFT), <!-- Permission from Howard on 2022-08-04 phone call -->
          a checkout processor in the sports/events industry, <!-- NDA expires 2022-01-04 plus 5 years -->
          TreasureDAO,
          Aleph Crypto Fund, <!-- Publicly listed at https://alephcrypto.xyz/ -->
          defendant in an investor lawsuit, <!-- NDA expires 2022-03-21 plus 3 years -->
          TRON DAO, <!-- https://x.com/trondao/status/1544667577250611202 -->
          a hedge fund, <!-- TODO: review if I can release name -->          
          expert witness for litigation <!-- Philly based project, actually no NDA, should I say this? -->
          have overcome challenges with my expertise.
        </p>
        <p><strong>Code reviews</strong></p>
        <p>Some typical design and code review work I have done includes:</p>
        <ul>
          <li><a target="_blank" href="https://github.com/ghoul-sol/treasure-staking/issues/69">Bridgeworld Harvesters contract review</a> <a href="assets/project-images/code-review-ghoul-sol_treasure-staking.pdf"><i class="bi bi-file-pdf"></i></a></li>
          <li><a target="_blank" href="https://github.com/TreasureProject/treasure-marketplace-contracts/issues/74">Trove Marketplace contract review</a> <a href="assets/project-images/code-review-treasureproject_treasure-marketplace-contracts-trove.pdf"><i class="bi bi-file-pdf"></i></a></li>
          <li><a target="_blank" href="https://github.com/ghoul-sol/treasure-marketplace/issues/25">Treasure Marketplace emergency review after hack</a> <a href="assets/project-images/code-review-treasureproject_treasure-marketplace-contracts-treasure.pdf"><i class="bi bi-file-pdf"></i></a></li>
          <li><a target="_blank" href="https://github.com/0xcert/framework/pull/522#pullrequestreview-266658697">0xcert 2.0 gateway contract</a> <a href="assets/project-images/code-review-0xcert_framework.pdf"><i class="bi bi-file-pdf"></i></a></li>
          <li><a target="_blank" href="https://github.com/search?q=org%3AArianee+author%3Afulldecent&type=Issues">Informal audit of Arianee</a> <a href="assets/project-images/code-review-ghoul-sol_treasure-staking.pdf"><i class="bi bi-file-pdf"></i></a></li>
          <li><a target="_blank" href="https://github.com/aionnetwork/AVM/issues/created_by/fulldecent">Review of Aion Network</a> <a href="assets/project-images/code-review-aionnetwork_avm.pdf"><i class="bi bi-file-pdf"></i></a></li>
          <li><a target="_blank" href="https://github.com/erasureprotocol/erasure-protocol/pull/253#pullrequestreview-318470827">Contract review of Erasure Bay</a> <a href="assets/project-images/code-review-erasureprotocol_erasure.pdf"><i class="bi bi-file-pdf"></i></a></li>
          <li><a target="_blank" href="https://ethereum-magicians.org/t/eip-615-subroutines-and-static-jumps-for-the-evm-last-call/3472/3">Review of EIP-615 (DRAFT) proposal</a></li>
          <li><a target="_blank" href="https://github.com/fulldecent/freescout-sidebar-webhook/pull/11">Review of PHP module to FreeScout</a></li>
          <li><a target="_blank" href="https://ethereum.stackexchange.com/users/26015/william-entriken?tab=answers">Answering questions day in and day out on forums</a></li>
        </ul>
      </div>
      <div class="col mb-3">
        <p><strong><a target="_blank" href="https://privacylog.blogspot.com/">Privacy Log</a></strong></p>
        <p>I perform technical research of smart contracts and websites. This includes work with the FBI and Apple. Usually I publish these on Privacy Log, and sometimes these publications are live zero-days if the vendor failed to take corrective action. (Of course, I never post zero-days against advisory clients.)</p>
        <p>Recent zero-days:</p>
        <ul>
          <li><a target="_blank" href="https://privacylog.blogspot.com/2021/05/github-pages-zero-day-with-wildcard.html">GitHub Pages: anyone can publish to your site</a> <span class="badge bg-info">live</span></li>
          <li><a target="_blank" href="https://privacylog.blogspot.com/2019/10/compound-finance-zero-day-prices-can.html">Compound Finance: prices can move faster than advertised</a> <a target="_blank" href="https://nvd.nist.gov/vuln/detail/CVE-2019-20809">CVE-2019-20809</a></li>
        </ul>
        <p class="card-text"><small class="text-muted">Monthly updates since 2008</small></p>
      </div>
    </div>

    <h2>Press coverage</h2>
    <ul>
{% for press-coverage in site.data.press-coverage %}
{% if forloop.index > 5 %}
      <li class="d-none press-coverage-rest">
{% else %}
      <li>
{% endif %}
        <cite>
          <time title="{{ press-coverage.date | date: "%Y-%m-%d" }}" datetime="{{ press-coverage.date | date: "%Y-%m-%d" }}">{{ press-coverage.date | date: "%Y" }}</time>.
          {{ press-coverage.authors | join: ", " | escape }}.
          {{ press-coverage.publication | escape }}.
          <a href="{{ press-coverage.url | escape }}">{{ press-coverage.title | escape }}</a>.
        </cite>
      </li>
{% endfor %}
      <li id="press-coverage-show-more"><span style="cursor: pointer;" class="link-primary text-decoration-underline">Show more&hellip;</span></li>
    </ul>
    <p><a href="self-portraits">Self portraits for media</a></p>

    <h2 id="speaking">Events, travel</h2>
    <p>
      <em>Learn at my workshops and speeches, <a target="_blank" href="https://blog.phor.net/2022/04/15/My-travel-intentions.html">invite me to your event</a>.</em>
    </p>

    <ul id="speaking-events">
      <li>
        <a href="https://twitter.com/intent/tweet?text=Hello%20@fulldecent%20I%20have%20a%20question%20for%20%23CommunityServiceHour" target="_blank" class="btn btn-primary btn-sm my-1">Ask question</a>
        Every Tuesday.
        <a href="https://docs.google.com/document/d/1ta_6tSCGfC31iIfhz4bfC_oBKyNZGEdDsZkD-BRXY_Y/edit#">Community Service Hour</a>
        <!-- / <a class="btn btn-sm btn-secondary" href="https://calendar.google.com/calendar/ical/liurhb5cqvar2i6n6ekeanap44%40group.calendar.google.com/public/basic.ics"><i class="bi bi-calendar"></i> Add to Calendar (ICS)</a> <a class="btn btn-sm btn-secondary" href="https://calendar.google.com/calendar/embed?src=liurhb5cqvar2i6n6ekeanap44%40group.calendar.google.com&ctz=America%2FNew_York"><i class="bi bi-calendar"></i> Add to Google Calendar</a></li>-->
{% for speaking-event in site.data.speaking-events %}
{% if forloop.index > 12 %}
      <li class="d-none speaking-event-rest">
{% else %}
      <li>
{% endif %}
        <time class="speaking-event-date" datetime="{{ speaking-event.date | escape }}">{{ speaking-event.date | escape }}</time>
        <a class="speaking-event-title" href="{{ speaking-event.url | escape }}">{{ speaking-event.title | escape }}</a>
        {% if speaking-event.coverage %}
        /
          {% for coverage in speaking-event.coverage %}
            <a href="{{ coverage | escape }}">
              {%- if coverage contains "youtube" -%}
                <i class="bi bi-youtube"></i>
              {%- elsif coverage contains "youtu.be" -%}
                <i class="bi bi-youtube"></i>
              {%- elsif coverage contains "x" -%}
                <i class="bi bi-twitter-x"></i>
              {%- elsif coverage contains ".jpg" -%}
                <i class="bi bi-file-image"></i>
              {%- else -%}
                <i class="bi bi-newspaper"></i>
              {%- endif -%}
            </a>
          {% endfor %}
        {% endif %}        
      </li>
{% endfor %}
      <li id="speaking-events-show-more"><span style="cursor: pointer;" class="link-primary text-decoration-underline">Show more&hellip;</span></li>
</ul>
    <p class="text-muted">This work was sponsored in part by Ethereum Foundation.</p>
  </section>

  <section class="bg-info">
    <div class="container-md py-5">
      <h2>Full product cycles</h2>
      <p>Here are some products I brought from idea to market. Includes commercial successes, open sourced that you can copy.</p>
      <div class="row row-cols-1 row-cols-md-4" id="product-cycles-list">
        <div class="col mb-3">
          <div class="card">
            <div class="card-body text-center">
              <a href="https://apps.phor.net/19q/">
                <img style="max-height: 10rem; color:black" class="rounded" src="images/19q.svg" alt="19 Questions machine learning game">
              </a>
            </div>
            <div class="card-body">
              <p class="card-text">
                <a href="https://apps.phor.net/19q/"><strong>19 Questions</strong></a> is a machine learning game that asks you questions about the world.
              </p>
              <p class="card-text">
                <small>
                  <a class="badge bg-info" target="_blank" href="https://github.com/fulldecent/19-questions">open source</a>
                  <span class="badge bg-secondary">bayesian statistics</span>
                </small>
              </p>
            </div>
          </div>
        </div>
        <div class="col mb-3">
          <div class="card">
            <div class="card-body text-center">
              <a href="https://www.amazon.ca/William-Entriken/e/B091JWDTRW/ref=dp_byline_cont_pop_book_2">
                <img style="max-height:10rem; " class="rounded img-fluid" src="assets/project-images/nineteen-eighty-five.jpg" alt="Nineteen Eighty-Five">
              </a>
            </div>
            <div class="card-body">
              <p class="card-text">
                <a href="https://kdp.amazon.com/amazon-dp-action/ca/dualbookshelf.marketplacelink/B091DWSM5J"><strong>Nineteen Eighty-Five</strong></a> is a modern printing of the classic George Orwell book. Orwell’s protagonist battles with his own incriminating <strong>#searchhistory</strong>, the prying eye of the <strong>Social Justice Warriors</strong> watching him through his <strong>smart device</strong>&hellip;
              </p>
              <p class="card-text text-muted">
                <small>
                  <a class="badge bg-info" target="_blank" href="https://github.com/fulldecent/Nineteen-Eighty-Five">open source</a>
                  <span class="badge bg-secondary">Amazon KDP</span>
                </small>
              </p>
            </div>
          </div>
        </div>
        <div class="col mb-3">
          <div class="card">
            <div class="card-body text-center">
              <a href="https://apps.phor.net/septa/">
                <img style="max-height:10rem; " class="rounded img-fluid" src="images/septa.png" alt="SEPTA rail schedules">
              </a>
            </div>
            <div class="card-body">
              <p class="card-text">
                <a href="https://apps.phor.net/septa/"><strong>SEPTA OTP</strong></a> is my fork of Philadelphia rail schedules which the transit authority has incorporated. It also documents late trains, which you can use to excuse work lateness.
              </p>
              <p class="card-text text-muted">
                <small>
                  <a class="badge bg-info" target="_blank" href="https://github.com/fulldecent/septa-regionalrail-otp">open source</a>
                  <a class="badge bg-info" target="_blank" href="https://patents.google.com/patent/US20200317242A1/en?q=transit+scheduling&inventor=Entriken&oq=Entriken+transit+scheduling">patent</a>
                </small>
              </p>
            </div>
          </div>
        </div>
        <div class="col mb-3">
          <div class="card">
            <div class="card-body text-center">
              <a href="https://itunes.apple.com/us/app/whos-the-impostor/id784258202?mt=8">
                <img style="max-height:10rem; " class="rounded img-fluid" src="images/impostor.png" alt="Who's the Impostor">
              </a>
            </div>
            <div class="card-body">
              <p class="card-text">
                <a href="https://itunes.apple.com/us/app/whos-the-impostor/id784258202?mt=8"><strong>Who's the Impostor (谁是卧底)</strong></a> is party word game for 3&ndash;12 players. Ranked in top 100 charts for MX, CN, RU.
              </p>
              <p class="card-text text-muted">
                <small>
                  <a class="badge bg-info" target="_blank" href="https://itunes.apple.com/us/app/whos-the-impostor/id784258202?mt=8">iOS</a>
                </small>
              </p>
            </div>
          </div>
        </div>
        <div class="col mb-3">
          <div class="card">
            <div class="card-body text-center">
              <a href="https://light.art" class="bg-dark">
                <img style="max-height:10rem; " class="rounded img-fluid" src="images/light_art.png" alt="Light.art">
              </a>
            </div>
            <div class="card-body">
              <p class="card-text">
                <a href="https://light.art"><strong>Light.art NFT drop</strong></a> is a series of NFTs published by high-profile professional photographers. Sold out for 100 Ether in hours.
              </p>
              <p class="card-text text-muted">
                <small>
                  <a class="badge bg-info" target="_blank" href="https://github.com/LightArtists/">open source</a>
                </small>
              </p>
            </div>
          </div>
        </div>
        <div class="col mb-3">
          <div class="card">
            <div class="card-body text-center">
              <a href="https://learnwithecho.com">
                <img style="max-height:10rem; " class="rounded img-fluid" src="images/echo.png" alt="Echo">
              </a>
            </div>
            <div class="card-body">
              <p class="card-text">
                <a href="https://learnwithecho.com"><strong>Echo</strong></a> lets you hear yourself and native speakers to improve pronunciation. This helps with language practice, speech pathology and accent reduction.
              </p>
              <p class="card-text text-muted">
                <small>
                  <a class="badge bg-info" target="_blank" href="https://github.com/fulldecent/echo">open source</a>
                  <a class="badge bg-info" target="_blank" href="http://itunes.apple.com/us/app/echo-learning/id558585608?ls=1&mt=8">iOS</a>
                </small>
              </p>
            </div>
          </div>
        </div>
        <div class="col mb-3">
          <div class="card">
            <div class="card-body text-center">
              <a href="https://genobank.io/products/">
                <img style="max-height:10rem; " class="rounded img-fluid" src="images/genobank-conversion-kit.jpg" alt="DNA privacy kit">
              </a>
            </div>
            <div class="card-body">
              <p class="card-text">
                <a href="https://genobank.io/products/"><strong>23andMe privacy kit</strong></a> by GenoBank anonymizes your DNA collection using physical shuffling and end-to-end encryption.
              </p>
              <p class="card-text text-muted">
                <small>
                  <a class="badge bg-info" target="_blank" href="https://github.com/genobank">open source</a>
                  <a class="badge bg-info" target="_blank" href="https://www.yuhanzhangdesign.com">packaging design</a>
                  <a class="badge bg-info" target="_blank" href="https://rinkeby.etherscan.io/address/0xcfe0161f1b24cbca200cb4cdd3028fb048ed4b6f">Ethereum Rinkeby</a>
                </small>
              </p>
            </div>
          </div>
        </div>
        <div class="col mb-3">
          <div class="card">
            <div class="card-body text-center">
              <a href="https://github.com/fulldecent/formant-analyzer">
              <img style="max-height:10rem; " class="rounded img-fluid" src="images/formant-analyzer.png" alt="Formant Analyzer">
              </a>
            </div>
            <div class="card-body">
              <p class="card-text">
                <a href="https://itunes.apple.com/us/app/formant-analyzer/id799183655?mt=8&uo=4&at=11l6hc&ct=fnd"><strong>Formant Analyzer</strong></a> helped my wife improve vowel pronunciation (born in China living in USA) and is useful for speech pathologists.</p>
              </p>
              <p class="card-text text-muted">
                <small>
                  <a class="badge bg-info" target="_blank" href="https://github.com/fulldecent/formant-analyzer">open source</a>
                  <a class="badge bg-info" target="_blank" href="https://itunes.apple.com/us/app/formant-analyzer/id799183655?mt=8&uo=4&at=11l6hc&ct=fnd">iOS</a>
                </small>
              </p>
            </div>
          </div>
        </div>
        <div class="col mb-3">
          <div class="card">
            <div class="card-body text-center">
              <a href="https://tenthousandsu.com">
              <img style="max-height:10rem; " class="rounded img-fluid" src="https://tenthousandsu.com/assets/logo-su-squares.svg" alt="Su Squares">
              </a>
            </div>
            <div class="card-body">
              <p class="card-text">
                <a href="https://tenthousandsu.com/"><strong>Su Squares</strong></a> is the first NFT using the ERC-721 standard. This ushered in an era of new applications and enormous media coverage.</p>
              </p>
              <p class="card-text text-muted">
                <small>
                  <a class="badge bg-info" target="_blank" href="https://github.com/su-squares/">open source</a>
                  <a class="badge bg-info" target="_blank" href="https://etherscan.io/address/0xE9e3F9cfc1A64DFca53614a0182CFAD56c10624F">Ethereum Mainnet</a>
                </small>
              </p>
            </div>
          </div>
        </div>
        <div class="col mb-3">
          <div class="card">
            <div class="card-body text-center">
              <a href="https://scribeschool.net/">
                <img style="max-height:10rem; height:10rem" class="rounded img-fluid" src="images/pmt.svg" alt="PMT Scribe Academy">
              </a>
            </div>
            <div class="card-body">
              <p class="card-text">
                <a href="https://scribeschool.net/"><strong>Scribe Academy</strong></a> is one of several online training program launched through Pacific Medical Training and accredited through American Medical Association.</p>
              </p>
            </div>
          </div>
        </div>
        <div class="col mb-3">
          <div class="card">
            <div class="card-body text-center">
              <a href="https://www.gamesmagazine-online.com/">
                <img style="max-height:10rem; " class="rounded img-fluid" src="images/anasquare.png" alt="Anasquare">
              </a>
            </div>
            <div class="card-body">
              <p class="card-text">
                <a href="https://www.gamesmagazine-online.com/"><strong>Anasquare</strong></a> is a word puzzle published nationally in GAMES magazine.
              </p>
              <p class="card-text text-muted">
                <small>
                  <a class="badge bg-info" target="_blank" href="https://github.com/fulldecent/anasquare-generator">open source</a>
                </small>
              </p>
            </div>
          </div>
        </div>
        <div class="col mb-3">
          <div class="card">
            <div class="card-body text-center">
              <a href="https://github.com/fulldecent/system-bus-radio">
                <img style="max-height:10rem; height:10rem" class="rounded img-fluid" src="images/system-bus-radio.png" alt="System Bus Radio">
              </a>
            </div>
            <div class="card-body">
              <p class="card-text">
                <a href="https://github.com/fulldecent/system-bus-radio"><strong>System Bus Radio</strong></a> implements an AM radio on computers and phones that do not have radio transmitting hardware. Unclassified implementation of TEMPEST data exfiltration.</p>
              </p>
              <p class="card-text text-muted">
                <small>
                  <a class="badge bg-info" target="_blank" href="https://github.com/fulldecent/system-bus-radio">open source</a>
                </small>
              </p>                
            </div>
          </div>
        </div>
      </div>

      <span id="showstalker" class="text-muted">π</span>


      <div id="stalker" class="d-none">
        <h2>Extra stuff for stalkers</h2>
        <div class="row">
          <div class="col">
            <p>Math</p>
            <ul>
              <li><a href="https://tromp.github.io/chess/chess.html">Chess research with John Tromp</a> -- I am interested in parallel, exhaustive-search problems, this is one effort in that direction, <a href="https://groups.google.com/forum/#!topic/rec.games.chess.computer/vmvI0ePH2kI">Google Groups post</a></li>
              <li><a href="https://fulldecent.blogspot.com/2009/12/interesting-properties-of-entropy.html">Original research on the entropy function</a> -- demonstrating a new, iterative way to calculate entropy, and necessary for my 19q game. Related: <a href="https://en.wikipedia.org/wiki/Perplexity">https://en.wikipedia.org/wiki/Perplexity</a></li>
            </ul>
            <p>Active projects you can join</p>
            <ul>
              <li>I am active <a href="https://github.com/fulldecent">on GitHub</a>, let's do something awesome together, also on SO and Kaggle</li>
              <li><a href="https://kde.org/">KDE contributor and webadmin (commit access to homepage)</a></li>
            </ul>
            <p>Photography</p>
            <ul>
              <li>My wife and I run a boudoir photography studio. Check out https://glamourphilly.com/</li>
            </ul>
          </div>
          <div class="col">
            <p>Things I made that you can buy:</p>
            <ul>
              <li><span class="badge badge-info">iOS</span> <a href="https://itunes.apple.com/us/app/2017-patent-bar-exam-study-prep-and-pass/id994868838">US Patent Bar Study</a> -- a tool for students studying for the patent bar exam</li>
              <li>
                Observance&mdash;my first published guitar song
                <a class="badge bg-secondary" target="_blank" href="https://itunes.apple.com/us/artist/will-entriken/id389914879">iTunes Music</a>
                <a class="badge bg-secondary" target="_blank" href="https://open.spotify.com/track/09X5ClB6xTVzY8befFsyHZ">Spotify</a>
              </li>
            </ul>
            <p>More music:</p>
            <ul>
              <li><a href="https://phor.net/media/Only.mp3">Only</a> (and <a href="https://www.youtube.com/watch?v=xWy4BfZKXsI">music video</a>)-- my award winning remix of Nine Inch Nails's song. I was a winner in <a href="https://web.archive.org/web/20060822171442/http://wysp.com/home.php">WYSP's First NIN Remix content (2005)</a> and got to meet the band. My track was runner up and the other guy was published on NIN's next album.</li>
              <li><a href="https://phor.net/media/Air.m4a">Air</a> the first track my wife and I made together. Based on Air by Dzeko &amp; Torres.</li>
            </ul>
            <p>Civic projects:</p>
            <ul>
              <li>
                <strong>EMCCC, PA</strong> Eastern Montgomery County Chamber of Commerce, PA, co-chair government affairs committee board. We work with local, state and federal government representatives to connect local businesses with elected officials.
              </li>
              <li>
                <strong>SEPTA rail scheduling</strong> I consult with SEPTA to help set their rail schedules. Also, I independently measure On-Time Performance of all SEPTA trains. If you are ever late for work because of a late train, <a href="https://apps.phor.net/septa/">use my website</a> as proof so you have an excuse. <a target="_blank" href="https://patents.google.com/patent/US20200317242A1/en?q=transit+scheduling&inventor=Entriken&oq=Entriken+transit+scheduling">Patent application</a>.
              </li>
              <li>
                <strong>Philadelphia Traffic Court</strong> Philadelphia Traffic Court made national headlines throughout 2014 as its offices were raided by the FBI and 9 current and former judges face indictments on 77 counts. I successfully petitioned the Philadelphia government to <a href="https://github.com/fulldecent/philadelphia-traffic-court-rtk/blob/master/README.md">make public their entire database of traffic violations</a>. Now lawyers use it to appeal old tickets and some people have used the data to find evidence of wrongdoing.
              </li>
            </ul>
          </div>
          <div class="col">
            <p>Contributions / big projects</p>
            <ul>
              <li>Code.mil&mdash; This project helps the US Department of Defense share more computer science projects with the public by helping its project managers set code release policies.</p></li>
              <li>Git &mdash; (2013) <a href="https://github.com/git/git/commit/75bf5e60e8c09075af1e4cd0d68a6d73fdf92c42">fixed</a> a <a href="http://git.661346.n2.nabble.com/PATCH-submodule-update-when-using-recursion-show-full-path-td7578351.html">recursion bug</a> for submodules</li>
              <li>Linux kernel v2.2 &mdash; (1999) fixed Realtek ethernet driver</li>
              <li>KDE &mdash; (2006) I used to lead http://cia.vc/ as a top committer in 2006 when I worked extensively on KDE, see also <a href="https://developers.google.com/open-source/gsoc/2006/?csw=1#kde">Google page on my contributions</a></li>
              <li><a href="https://jekyllrb.com/news/2015/10/26/jekyll-3-0-released/">Jekyll 3.0 contributor</a></li>
              <li>Archive.org &mdash; (2006) collection of <a href="https://archive.org/details/2006-AIM-IMChaos-WebShots-Collecting">collection of AOL Instant Messenger, IMChaos, WebShots</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container-md my-5">
      <h2>Personal</h2>
      <div class="row">
        <div class="col">
          <p>My sizes</p>
          <ul>
            <li>39L/40L suit</li>
            <li>33 slack / 33 inseam</li>
            <li>15 1/2 - 34/35 shirt</li>
          </ul>
          <p>Best marathon time: 9h : 13m</p>
          <p>Birthday: 1985-07-01</p>
        </div>
        <div class="col">
          <ul>
            <li><a href="reading-list">Books I've read </a></li>
            <li><a href="goals">My goals in life</a></li>
            <li><a href="https://www.amazon.com/gp/registry/EE78A23EEGQB">Wish list at Amazon</a></li>
            <li><a href="bookmarks">My favorite websites</a></li>
            <li><a href="/resume.pdf"><i class="bi bi-file-pdf" aria-hidden="true"></i> Resume (PDF)</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <footer class="bg-light">
    <div class="container-md py-5">
      <h2>Call to action</h2>
      <p class="lead">Thanks for your interest, now let's get in touch.</p>
      <p>
        <a href="mailto:phor@phor.net?Subject=Hello&amp;Body=Hello&amp;body=Hi%20Will%2C%0A%0AI%20came%20across%20your%20information%20and%20thought%20it%20might%20be%20worth%20getting%20in%20touch." class="btn btn-lg btn-info">Email me</a>
        <a href="https://www.linkedin.com/in/fulldecent" class="btn btn-lg btn-secondary">Connect on LinkedIn</a>
        <a href="https://x.com/fulldecent" class="btn btn-lg btn-secondary">Stalk on X</a>
        <a href="./assets/postcard-address.pdf" class="btn btn-lg btn-secondary">Send a Postcard</a>
        <!--<a href="https://scholar.google.com/citations?user=4rGYvTgAAAAJ" class="btn btn-lg btn-secondary">Follow on Google Scholar</a>-->
      </p>
    </div>
  </footer>
  <footer class="bg-dark text-light">
    <div class="container-md py-5">
      <h5 id="authentic-accounts"><i class="bi bi-bell"></i> Follow me</h5>
      <p><em>Accounts are not an endorsement of a platform.</em></p>
      <div class="row">
        <div class="col-md">
          <h6>Discuss</h6>
          <ul class="list-inline float-start">
            <li class="list-inline-item"><a class="link-light" target="_blank" href="https://x.com/fulldecent">X</a></li>
            <li class="list-inline-item"><a class="link-light" target="_blank" href="https://discordapp.com/channels/@me/fulldecent#8164/">Discord</a></li>
            <li class="list-inline-item"><a class="link-light" target="_blank" href="weixin://contacts/profile/858772059">WeChat</a></li>
          </ul>
        </div>
        <div class="col-md">
          <h6>Read</h6>
          <ul class="list-inline float-start">
            <li class="list-inline-item"><a class="link-light" target="_blank" href="https://blog.phor.net">Personal blog (NEW)</a></li>
            <li class="list-inline-item"><a class="link-light" target="_blank" href="https://fulldecent.blogspot.com">Personal blog (OLD)</a></li>
            <li class="list-inline-item"><a class="link-light" target="_blank" href="https://privacylog.blogspot.com">Zero-day blog</a></li>
            <li class="list-inline-item"><a class="link-light" target="_blank" href="https://www.instagram.com/wmedesign/">Instagram (NSFW)</a></li>
            <li class="list-inline-item"><a class="link-light" target="_blank" href="https://www.tiktok.com/@fulldecent">TikTok</a></li>
          </ul>
        </div>
        <div class="col-md">
          <h6>Collect</h6>
          <ul class="list-inline float-start">
            <li class="list-inline-item"><a class="link-light" target="_blank" href="https://opensea.io/fulldecent">OpenSea</a></li>
            <li class="list-inline-item"><a class="link-light" target="_blank" href="https://rarible.com/fulldecent">Rarible<i class="bi bi-patch-check text-primary"></i></a></li>
            <li class="list-inline-item"><a class="link-light" target="_blank" href="https://foundation.app/@fulldecent">Foundation</a></li>
            <li class="list-inline-item"><a class="link-light" target="_blank" href="https://mintable.app/u/fulldecent">Mintable</a></li>
            <li class="list-inline-item"><a class="link-light" target="_blank" href="https://www.mintbase.io/human/fulldecent.near">Mintbase</a></li>
            <li class="list-inline-item"><a class="link-light" target="_blank" href="https://zora.co/fulldecent">ZORA</a></li>
          </ul>
        </div>
        <div class="col-md">
          <h6>Other</h6>
          <ul class="list-inline float-start">
            <li class="list-inline-item"><a class="link-light" target="_blank" href="https://github.com/fulldecent">GitHub</a></li>
            <li class="list-inline-item"><a class="link-light" target="_blank" href="https://www.linkedin.com/in/fulldecent">LinkedIn</a></li>
            <li class="list-inline-item"><a class="link-light" target="_blank" href="https://www.amazon.ca/William-Entriken/e/B091JWDTRW/ref=dp_byline_cont_pop_ebooks_2">Amazon (author)</a></li>
            <!--<li class="list-inline-item"><a class="link-light" target="_blank" href="https://scholar.google.com/citations?user=4rGYvTgAAAAJ">Google Scholar</a></li>-->
            <li class="list-inline-item"><a class="link-light" target="_blank" href="https://etherscan.io/address/0xd859d7d8603D2dAb768D679eEEC25930C8FC59C1">Ethereum Mainnet</a></li>
            <li class="list-inline-item"><a class="link-light" target="_blank" href="https://tronscan.io/#/address/TG18qpVeKEanswrcPVWguRRr56Rirof5Ub">TRON Mainnet</a></li>
            <li class="list-inline-item"><a class="link-light" target="_blank" href="https://v.douyin.com/iF2k8E1p/ 1@9.com">抖音</a></li>
          </ul>
        </div>
      </div>
      <p class="mt-3">No cookies. No analytics. If you want, <a href="mailto:phor@phor.net?Subject=Hello&amp;Body=Hello&amp;body=Hi%20Will%2C%0A%0AI%20came%20across%20your%20website%20and%20thought%20it%20might%20be%20worth%20getting%20in%20touch." class="btn btn-lg btn-info">let me know you're reading this</a>. Updated {{ site.time | date: "%Y-%m-%d"}}.</p>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <script>
    // Activate BS5 tooltips everywhere
    [].slice.call(document.querySelectorAll('[title]')).forEach(el => new bootstrap.Tooltip(el));

    // Rewritten code
    document.getElementById("showstalker").addEventListener("click", function() {
      document.getElementById("showstalker").classList.add("d-none");
      document.getElementById("stalker").classList.remove("d-none");
      document.querySelectorAll("#product-cycles-list div.col").forEach(el => el.classList.remove("d-none"));
    });

    document.getElementById("press-coverage-show-more").addEventListener("click", function() {
      document.getElementById("press-coverage-show-more").classList.add("d-none");
      document.querySelectorAll(".press-coverage-rest").forEach(el => el.classList.remove("d-none"));
    });

    document.getElementById("speaking-events-show-more").addEventListener("click", function() {
      document.getElementById("speaking-events-show-more").classList.add("d-none");
      document.querySelectorAll(".speaking-event-rest").forEach(el => el.classList.remove("d-none"));
    });

    // Project gallery random sample
    function shuffleArray(array) {
      for (let i = array.length - 1; i > 0; i--) {
        const j = Math.floor(Math.random() * (i + 1));
        [array[i], array[j]] = [array[j], array[i]];
      }
    }
    const children = document.querySelectorAll("#product-cycles-list div.col");
    children.forEach(el => el.classList.add("d-none"));
    shuffleArray(children);
    for (let i = 0; i < 4; i++) {
      children[i].classList.remove("d-none");
    }

    // Top links
    if (window.location.hash.substr(1)) { // Page is loaded with #... fragment (in QR codes)
      document.getElementById(window.location.hash.substr(1)).classList.remove("d-none");
      // hack to make #hours (and only #hours) work like #hour
      if (window.location.hash == "#hours") {
        document.getElementById("hour").classList.remove("d-none");
      }
    }

    // Pronounce
    document.getElementById("pronounce").addEventListener("click", function() {
      var audio = new Audio('/media/pronounce.mp3');
      audio.play();
    });

    // On each #speaking-event, if it's in the future add:
    //  - "LMK you'll go" button to compose a tweet to @fulldecent with "I'll go to <title>", .speaking-event-title
    //  - "Add to calendar" button, .speaking-event-date
    document.querySelectorAll("#speaking-events li").forEach(el => {
      const datetimeEl = el.querySelector(".speaking-event-date");
      if (!datetimeEl) {
        return;
      }

      const date = new Date(datetimeEl.attributes.datetime.value);      
      if (date > new Date()) {
        const title = el.querySelector(".speaking-event-title").innerHTML;
        const tweetURL = "https://twitter.com/intent/tweet?text=I%27ll%20go%20to%20" + encodeURIComponent(title) + "%20%40fulldecent";
        const link = document.createElement("a");
        link.href = tweetURL;
        link.target = "_blank";
        link.classList.add("btn", "btn-primary", "btn-sm", "my-1");
        link.innerHTML = "I'm going too";
        // add link before
        el.insertBefore(link, el.firstChild);
      }
    });
    
  </script>
  <script src="https://cdn.jsdelivr.net/npm/anchor-js@4.3.1/anchor.min.js" integrity="sha256-0WMZ9PF4b2hTF66Eglv/9H5Vwk6lnOG4AbmCJxo96WQ=" crossorigin="anonymous"></script>
  <script>
    // Add anchors on DOMContentLoaded
    document.addEventListener('DOMContentLoaded', function(event) {
      anchors.add();
    });
  </script>
</body>
</html>
