---
layout: null
# Front matter variables:
# - page.redirect_target -- URL of where this page will redirect to
# - page.title (optional) -- how to refer to page
---
<!doctype html>
<html lang="en">
  <head>
    {% include head.html %}
    <meta http-equiv="refresh" content="1; url={{ page.redirect_target | escape }}">
    <script>
      window.location.href = '{{ page.redirect_target | escape }}';
    </script>
  </head>
  <body>
    If you are not redirected automatically, follow this
    <a href="{{ page.redirect_target | escape }}">link to {{ page.title | default: 'page' | escape }}</a>
  </body>
</html>
