.glowbar {
  background: linear-gradient(to right, #fdc830, #f37335);
  animation:glow 1s ease forwards;
  background-size: 200% 200%;
}
@keyframes glow {
  0%{background-size:500% 500%}
  100%{background-size:100% 100%}
}

.minipolaroid {
  display: inline-block;
  vertical-align: top;
  background-color: #FFFFFF;
  padding: 2px;
  padding-bottom: 10px;
  border: 1px solid #eee;
  box-shadow: 2px 2px 2px #ccc;
  margin: 12px;
  text-decoration: none;
  color: #444;
  animation:spin 1s ease forwards;

}
@keyframes spin { 100% { -webkit-transform: rotate(-12deg); transform:rotate(-12deg); } }
